@font-face {
    font-family: "High Tower Text";
    src: url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.eot");
    src: url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/9e23421978544d8e00a00eb47740d280.svg#High Tower Text")
        format("svg");
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
  }
  body {
    margin: 0;
    color: white;
    font-family: High Tower Text;
    background-color: #010d34;
  }
  
  .bg-star {
    background-image: url("../img/bg2.svg");
  }
  a {
    color: #3b5d80;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .g-text-center {
    text-align: center;
  }
  
  .g-font-size-320 {
    font-size: 320px;
  }
  .g-line-height-1 {
    line-height: 1;
  }
  
  h1 {
    font: 1.5rem/1 "Roboto", sans-serif;
    margin: 0 0 15px;
  }
  
  .g-min-height-100vh {
    min-height: 100vh;
  }
  
  .g-flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-align: center;
    -moz-box-pack: center;
  }
  .g-flex-centered-item {
    flex: 1 1 0;
    -moz-box-flex: 1;
  }
  
  .title {
    font-family: High Tower Text;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 112px;
    text-align: center;
  
    color: #ffffff;
  }
  
  .subTitle {
    font-family: High Tower Text;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
  }
  
  .g-mb-10 {
    margin-bottom: 10px;
  }
  .g-pa-10 {
    padding: 10px;
  }
  
  @media (max-width: 444px) {
    .g-font-size-100--2xs {
      font-size: 100px;
    }
    .g-height-90--2xs {
      height: 90px;
    }
  }
  
  .custom404-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f3f5;
    padding: 10px 50px;
    color: rgb(31, 16, 16);
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 287px;
    height: 78px;
    left: 584px;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 43px;
  }
  
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
